<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:annotation-config/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:cloud-service.properties</value>
            </list>
        </property>
    </bean>
	
    <bean class="uk.co.revsys.cloud.service.ComputeServiceFactory">
        <property name="computeService" ref="computeService"/>
    </bean>
    
    <bean class="org.apache.wink.spring.Registrar">
        <property name="classes">
            <set value-type="java.lang.Class"/>
        </property>
        <property name="instances">
            <set>
                <bean id="imageRestService" class="uk.co.revsys.cloud.service.rest.ImageRestService">
                    <constructor-arg index="0" ref="imageDao"/>
                    <constructor-arg index="1" value="${template}"/>
                    <constructor-arg index="2" value="${controller}"/>
                    <constructor-arg index="3" value="${keypair}"/>
                </bean>
                <bean class="uk.co.revsys.cloud.service.rest.InstanceRestService"/>
            </set>
        </property>
    </bean>
	
    <bean id="contextBuilder" class="org.jclouds.ContextBuilder" factory-method="newBuilder">
        <constructor-arg value="${cloud.type}"/>
    </bean>

    <bean id="contextBuilderWithCreds" factory-bean="contextBuilder" factory-method="credentials">
        <constructor-arg  value="${cloud.identity}"/>
        <constructor-arg  value="${cloud.credential}"/>
    </bean>
    
    <bean id="contextBuilderWithModules" factory-bean="contextBuilderWithCreds" factory-method="modules">
        <constructor-arg name="modules">
            <list>
                <bean class="org.jclouds.logging.slf4j.config.SLF4JLoggingModule"/>
            </list>
        </constructor-arg>
    </bean>
	
    <bean id="computeServiceContext" factory-bean="contextBuilderWithModules" factory-method="buildView">
        <constructor-arg>
            <value>org.jclouds.compute.ComputeServiceContext</value>
        </constructor-arg>
    </bean>
 
    <bean id="computeService" factory-bean="computeServiceContext" factory-method="getComputeService"/>
    
    <bean id="logger" class="org.jclouds.logging.ConsoleLogger"/>
    
    <bean id="imageConfigProvider" class="uk.co.revsys.resource.repository.provider.ResourceProvider" init-method="refresh">
        <constructor-arg index="0" ref="imageConfigRepository"/>
        <constructor-arg index="1" value="images.json"/>
        <constructor-arg index="2" ref="imageConfigFilter"/>
        <constructor-arg index="3" ref="imageConfigLoader"/>
    </bean>
    
    <bean id="imageConfigRepository" class="uk.co.revsys.resource.repository.classpath.ClasspathResourceRepository">
        <constructor-arg index="0" value="."/>
    </bean>
    
    <bean id="imageConfigFilter" class="uk.co.revsys.resource.repository.provider.filter.ExtensionFilter">
        <constructor-arg index="0" value=".json"/>
    </bean>
    
    <bean id="imageConfigLoader" class="uk.co.revsys.resource.repository.provider.handler.json.JsonArrayResourceConverter">
        <constructor-arg index="0" ref="objectMapper"/>
        <constructor-arg index="1" value="uk.co.revsys.cloud.service.SpotImage"/>
    </bean>
    
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
    
    <bean id="images" factory-bean="imageConfigLoader" factory-method="getResult" depends-on="imageConfigProvider"/>
    
    <bean id="imageDao" class="uk.co.revsys.cloud.service.InMemorySpotImageDao">
        <constructor-arg index="0" ref="images"/>
    </bean>
    
</beans>
