doctype html
html(ng-app="dashboard")
	head
		title Cloud Dashboard
		include head
	body(ng-controller="DashboardCtrl")
		div.container-fluid
			div.col-md-12.main
				h3 INSTANCES
				table.table.table-striped
					thead
						tr
							th ID
							th Name
							th Type
							th Status
							th Domain
							th Public IP
							th Private IP
							th Stop Overnight
							th
					tbody
						tr(ng-repeat="instance in instances", ng-if="instance.userMetadata.Deprecated != 'true' && instance.status != 'TERMINATED'")
							td {{instance.id}}
							td {{instance.name}}
							td {{instance.hardware.id}}
							td {{instance.status}}
							td {{instance.userMetadata.Domain}}
							td {{instance.publicAddresses}}
							td {{instance.privateAddresses}}
							td {{instance.userMetadata.StopOvernight}}
							td 
								button.btn.btn-primary(ng-hide="instance.status == 'RUNNING'", ng-click="startInstance(instance.id)") Start
								button.btn.btn-danger(ng-show="canBeStopped(instance)", ng-click="stopInstance(instance.id)") Stop
								button.btn.btn-danger(ng-show="canBeTerminated(instance)", ng-click="terminateInstance(instance.id)") Terminate
				h3 IMAGES
				table.table.table-striped
					thead
						tr
							th Name
							th Type
							th Status
							th Domain
							th Public IP
							th Stop Overnight
							th Max Price
							th
					tbody
						tr(ng-repeat="image in images")
							td {{image.name}}
							td {{image.type}}
							td {{getImageStatus(image)}}
							td {{image.dnsSettings.domain}}
							td {{image.ipAddress}}
							td {{image.stopOvernight}}
							td {{image.spotPrice}}
							td 
								button.btn.btn-primary(ng-show="canBeStarted(image)", ng-click="startImage(image.name)") Start
				h3 TERMINATED/DEPRECATED
				table.table.table-striped
					thead
						tr
							th ID
							th Name
							th Type
							th Status
							th Domain
							th Public IP
							th Private IP
							th Stop Overnight
							th
					tbody
						tr(ng-repeat="instance in instances", ng-if="instance.userMetadata.Deprecated == 'true' || instance.status == 'TERMINATED'")
							td {{instance.id}}
							td {{instance.name}}
							td {{instance.hardware.id}}
							td {{instance.status}}
							td {{instance.userMetadata.Domain}}
							td {{instance.publicAddresses}}
							td {{instance.privateAddresses}}
							td {{instance.userMetadata.StopOvernight}}
							td 
								button.btn.btn-primary(ng-hide="instance.status == 'RUNNING'", ng-click="startInstance(instance.id)") Start
								button.btn.btn-danger(ng-show="canBeStopped(instance)", ng-click="stopInstance(instance.id)") Stop
								button.btn.btn-danger(ng-show="canBeTerminated(instance)", ng-click="terminateInstance(instance.id)") Terminate